*
{
	font-family:		Verdana, Tahoma;
}

body
{
	font-size:			12px;
	background-color:	gray;
	margin:				20px;
}

a
{
	font-weight:		bold;
	color:				blue;
	text-decoration:	none;
}

a:hover
{
	text-decoration:	underline;
}

span.spanSectionHeader
{
	font-size:			18px;
	font-weight:		bolder;
}

p.pSectionText
{
	text-align:			justify;
}

div#divBody
{
	width:				700px;
	position:			absolute;
	background-color:	white;
	border:				2px solid black;
	padding:			15px;
}

div#divSudoForWindowsLogo
{
	font-size:			22px;
	font-weight:		bolder;
	float:				left;
}

div#divSudoForWindowsSubLogo
{
	margin-bottom:		10px;
	float:				left;
	clear:				left;
}

div#divSourceForgeImage
{
	float:				right;
}

div#divLinksHeader
{
	position:			relative;
	clear:				both;
	top:				5px;
	left:				230px;
	margin-bottom:		20px;
}

div#divDownload
{
	position:			relative;
	top:				5px;
	left:				225px;
	margin-bottom:		25px;
}

div#divImages
{
	margin-bottom:		2px;
}

div#divImages img
{
	border:				1px solid black;
}

div#divImages .imgFirst
{
	margin-left:		30px;
}

div#divImages .imgLatter
{
	margin-left:		15px;
}

div#divImagesCaptions
{
	margin-bottom:		25px;
}

ol li
{
	margin-bottom:		10px;
}

ul li
{
	margin-bottom:		10px;
}

p.code
{
	background-color:	#ececec;
	border:				1px dashed black;
	padding:			5px;
	font-family:		monospace;
}

div.divSection
{
	margin-top:			15px;
}

div.divSubSection
{
	margin-top:			15px;
	margin-left:		15px;
}

span.spanSubSectionHeader
{
	font-size:			14px;
	font-weight:		bold;
}

table.tablePretty td.tdLabel
{
	font-weight:		bold;
	text-align:			right;
	vertical-align:		top;
	padding-bottom:		5px;
	width:				105px;
}

table.tablePretty td.tdBuffer
{
	width:				10px;
}

table.tablePretty td.tdDescription
{
	vertical-align:		top;
}

div#divBookmarkSites
{
	float:				right;
}

div#divBookmarkSites img
{
	border:				none;
	margin-left:		10px;
}